:root{
    --bg-color: #F5F1ED;
    --dark-color: #252323;
    --shadows-color: #70798C;
    --text-font: "Margarine", 'sans-serif';
}

*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
}
h1,h2,h3{
    font-family: "Margarine", 'sans-serif';
}
p{
    font-family: "Indie Flower", cursive;
    font-weight: 1000;
}