:root{
    --bg-color: #F5F1ED;
        --button-active : #d6d2cd;
    --dark-color: #252323;
        --mute-dark-color:#373434 ;
    --shadow-color: #70798C;
        --mute-border-color: #70798c6b ;
    --text-font: "Margarine", 'sans-serif';

}

*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
}
h1,h2,h3{
    font-family: "Margarine", 'sans-serif';
}
p{
    font-family: "Indie Flower", cursive;
    font-weight: 1000;
}